@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: scroll;
  }
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    width:fit-content;
}

.section {
    width: 90vw;
    position: relative;
    padding: 0.5rem;
}

.card {
    height: 80vh;   
    position: relative;
    background-color: rgba(177, 0, 15, 1);
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.card > .bg-image {
    background-image: url("images/backgrounds/ã‚.png"); 
    filter: blur(2px);  
    -webkit-filter: blur(2px);  
    background-position: translateX(100%);    
    background-repeat: no-repeat;   
    background-size:cover;
    width: 100%;
    height: 100%;
}

.card > .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    position: absolute;
    z-index: 5;
    width: 95%;
}

.card > h1 {
    z-index: 5;
    color: white;
}
.card > .author {
    z-index: 10;
    color: white;
}

.section > section {
    padding: 0 1rem;
}